.header{
    display:flex;
}
.feed-content{
    padding:10px 10px 0 10px;
    width: 550px;
    display:grid;
    grid-template-rows:35px;
    grid-template-columns: 20px auto auto;
    border: 1px solid var(--border-color);
    border-top:none;
    cursor:pointer;
    .modal{
        position: absolute;
        background-color: var(--background-color);
        border-radius: 20px;
        width: 50%;
        right:25%;
        border: 1px solid var(--border-color);
        z-index: 2;
        .btn-close{
            display:flex;
            margin-right: auto;
            border-radius:50%;
            margin-left:30px;
            margin-top:20px;
            width:30px;
            height:30px;
            align-items: center;
            justify-content: center;
            border: none;
            background-color: var(--background-color);
            a{
                color:var(--text-color2);
            }
            &:hover{
                background-color: var(--hover-color);
                cursor:pointer;
                transition: $hover-transition;
            }
            
        }
    }
    @include small{
        grid-template-rows:35px;
        grid-template-columns: 35px auto auto;
    }
    &:hover{
        background-color: var(--hover-color);
        transition: $hover-transition;
    }

        .pinned{
            margin-left:30px;
            font-size:11px;
            grid-column:2;
            grid-row:1;
            color:var(--text-color2);
            font-weight: bolder;
            .material-symbols-outlined{
                font-size:15px;
                font-variation-settings:
                'FILL' 1,
                'wght' 900,
                'GRAD' 0,
                'opsz' 24
                }   
            }
        .content-name{
            width: 100%;
            grid-column:2;
            grid-template-columns:10% 75px auto;
            grid-row:1;
            display:grid;
            grid-template-areas: "photo h5 date";
            @include small{
                grid-template-columns:12% 75px auto;
            }
            h5{
                margin-left:10px;
                margin-top: 20px;
                grid-area:h5;
            }
            .date{
                font-size: 13px;
                margin-top: 20px;
                color:var(--text-color2);
                grid-area: date;

            }
            .content-photo{

                width: 45px;
                height: 45px;
                border-radius: 50%;
                background-color: aquamarine;
                margin-top:20px;
                margin-left:-15px;
                overflow: hidden;
                border: 1px solid var(--background-color);
                grid-area: photo;
                @include small{
                    margin-left:auto;
                }
                img{
                    width: 50px;
                    height: 50px;
                }
            }

    }
    .icons{
        width:90%;
        color:var(--text-color2);
        ul{
            display:flex;
            flex-direction: row;
            justify-content: flex-end;
            list-style-type: none;
        }
        li{
            padding: 5px 5px 5px 5px;
            margin-right:15px;
            border:1px none red;
            border-radius: 50%;
            .material-symbols-outlined{
                font-size:1.2rem;
                vertical-align: middle;
                font-weight: lighter;
                text-align: center;
                
            }
            &:nth-child(1):hover{
                color:var(--main-color);
                transition: $hover-transition;
                background:rgb(29, 161, 242, 0.2);
            }
            &:nth-child(2):hover{
                color:rgb(249, 24, 128);
                background:rgb(249, 24, 128, 0.2);
                transition: $hover-transition;
            }
        }
    
    }

    .content-main{
        grid-column:2;
        grid-row:2;
        margin-left:4%;
        padding:0 0 1% 10%;
        margin-top:10px;
        margin-bottom: 10px;
        grid-row: 2;
        grid-column: 2;


        .tech-used{
            img{  
            border-radius: 10px;
            width:15%;
            @include extrasmall{
                margin-left:10px;
            }
            @include small{
                margin-left: 0;
            }
            }
        }
        .text{
            width:100%;
            justify-content: center;
            align-items: center;
            font-size: 13px;
            grid-row: 2;
            grid-column: 2;
            li{
                list-style-type: none;
            }
            .contacts-img{
                &::before{
                    content: " ";
                    display: block;
                    margin-top: 20px;
                }
                img{
                    width:30px;
                    margin-bottom: -10px;
                }
            }
        }
        .content-img{
            width:90%;
            height: auto;
            border-radius: 10px;
            margin:3vh 0 0 0;
            overflow: hidden;
            display:inline-block;
            img{
                width:100%;
            }
        }
    }
    .overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(3px);
        z-index: 1;
      }
    .hidden {
        display:none;
    }
}