
@import 'breakpoints';
.cover-image{
    height:150px;
    background-color: var(--main-color);
    width: 100%;
    cursor:pointer;
    
}

.profile{
    height:170px;
    width: 100%;
    box-sizing: content-box;
    padding:5%;
    display:flex;
    flex-direction: column;
    @include extrasmall{
        padding-left:10%;
    }
    
    .profile-photo{
        width: 20%;
        height: 20%;
        border-radius: 50%;
        background-color: aquamarine;
        margin-top:-75px;
        z-index: 999;
        border:2px solid var(--a);
        overflow:hidden;
        cursor:pointer;
        
        @include extrasmall{
            padding-bottom: 75px;
            padding-left: 75px;
            margin-top:-55px;
        }
        @include small{
            padding-bottom: 100px;
            padding-left: 100px;
            
            margin-top:-80px;
        }
        img{
            position:relative;
            margin:0 auto;
            height:120px;
            width:120px;
            transform: (translate(-85%, -3%));
        }
    }

    .profile-name{
        font-size: 15px;
        height:20%;
        display:flex;
        flex-direction: row;
        font-weight: bold;
        .verified{
            height:30px;
            margin-top:3px;
        }
        .follow{
            width: 100px;
            height:40px;
            border-radius: 50px;
            background-color: var(--background-color);
            color: var(--text-color);
            padding:10px 10px;
            text-align: center;
            border: 1px solid rgba(101,119,134,0.3);
            font-weight: bold;
            margin-left: 90px;
            margin-top:-35px;
            font-size: 15px;
            cursor:pointer;
            &:hover{
                transition: $hover-transition;
                background-color: var(--quartenary-color);
            }
            @include extrasmall{
                margin-left:10%;
                margin-top: -5px;
            }
            @include small{
                
                transition: width 2s;
                margin-left:160px;
                margin-top: -35px;
            }
            @include extralarge{
                margin-top:-20px;
            }
        }
    }
    .profile-nickname{
        font-size: 16px;
        padding:1%;
        h4{
            color:var(--text-color2);
            font-weight: 500;
        }

    }
    .profile-info{
        font-size: 16px;
        color:var(--text-color2);
        margin-top: 2vh;
            ul{
            display:flex;
            flex-direction: row;
            justify-content: flex-start;
            
            li{
                padding: 10px 10px 0 0;
                list-style: none;
            }
        }
        
        .material-symbols-outlined{
            font-size:16px;
            vertical-align: middle;
            margin-right:5px;
        }
    }
}