:root {
  --main-color: #1DA1F2;
  --secondary-color:#14171A;
  --terciary-color: #657786;
  --quartenary-color:#E1E8ED;
  --hover-color: #E1E8ED;
  --text-color: black;
  --text-color2: #657786;
  --background-color: white;
  --border-color: rgba(0, 0, 0, 0.1);
}

.cover-image {
  height: 150px;
  background-color: var(--main-color);
  width: 100%;
  cursor: pointer;
  border: 1px solid var(--border-color);
  box-sizing: border-box;
}

.profile {
  height: 170px;
  width: 100%;
  box-sizing: content-box;
  padding: 5%;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color);
  border-bottom: none;
  border-top: none;
}
@media (min-width: 0) {
  .profile {
    padding-left: 10%;
  }
}

.profile-photo {
  width: 20%;
  height: 20%;
  border-radius: 50%;
  background-color: aquamarine;
  margin-top: -75px;
  z-index: 999;
  border: 2px solid var(--a);
  overflow: hidden;
  cursor: pointer;
}
@media (min-width: 0) {
  .profile-photo {
    padding-bottom: 75px;
    padding-left: 75px;
    margin-top: -55px;
  }
}
@media (min-width: 480px) {
  .profile-photo {
    padding-bottom: 100px;
    padding-left: 100px;
    margin-top: -80px;
  }
}
.profile-photo img {
  position: relative;
  margin: 0 auto;
  height: 100px;
  width: 100px;
  transform: translate(-85%, -3%);
}
@media (min-width: 480px) {
  .profile-photo img {
    width: 120px;
    height: 120px;
    transform: translate(-85%, -3%);
  }
}

.profile-name {
  font-size: 1rem;
  height: 20%;
  display: flex;
  flex-direction: row;
  font-weight: bold;
}
.profile-name .verified {
  height: 30px;
  margin-top: 3px;
}
.profile-name .follow {
  width: 100px;
  height: 40px;
  border-radius: 50px;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 10px 10px;
  text-align: center;
  border: 1px solid rgba(101, 119, 134, 0.3);
  font-weight: bold;
  margin-left: 90px;
  margin-top: -35px;
  font-size: 15px;
  cursor: pointer;
}
.profile-name .follow:hover {
  transition: ease-in-out 0.2s;
  background-color: var(--quartenary-color);
}
@media (min-width: 0) {
  .profile-name .follow {
    margin-left: 10%;
    margin-top: -5px;
  }
}
@media (min-width: 480px) {
  .profile-name .follow {
    transition: width 2s;
    margin-left: 160px;
    margin-top: -35px;
  }
}
@media (min-width: 1200px) {
  .profile-name .follow {
    margin-top: -20px;
  }
}

.profile-nickname {
  font-size: 0.75rem;
  padding: 1%;
}
.profile-nickname h4 {
  color: var(--text-color2);
  font-weight: 500;
}

.profile-info {
  font-size: 0.75rem;
  color: var(--text-color2);
  margin-top: 2vh;
}
.profile-info ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.profile-info ul li {
  padding: 10px 10px 0 0;
  list-style: none;
}
@media (min-width: 480px) {
  .profile-info ul {
    font-size: 1rem;
  }
}
.profile-info .material-symbols-outlined {
  font-size: 1rem;
  vertical-align: middle;
  margin-right: 5px;
}

.menu {
  width: 100%;
}
.menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 0.75rem;
  color: var(--text-color2);
  font-weight: bold;
  border: 1px solid var(--border-color);
  border-top: none;
}
@media (min-width: 480px) {
  .menu ul {
    font-size: 0.9375rem;
  }
}
.menu ul li {
  width: 25%;
  text-align: center;
  padding: 19.5px 10px;
  list-style: none;
  background-clip: padding-box;
}
.menu ul li:hover {
  transition: ease-in-out 0.2s;
  background-color: var(--hover-color);
  cursor: pointer;
}
.menu ul a {
  text-decoration: none;
  color: var(---);
}

.header {
  display: flex;
}

.feed-content {
  padding: 10px 10px 0 10px;
  width: 550px;
  display: grid;
  grid-template-rows: 35px;
  grid-template-columns: 20px auto auto;
  border: 1px solid var(--border-color);
  border-top: none;
  cursor: pointer;
}
@media (min-width: 480px) {
  .feed-content {
    grid-template-rows: 35px;
    grid-template-columns: 35px auto auto;
  }
}
.feed-content:hover {
  background-color: var(--hover-color);
  transition: ease-in-out 0.2s;
}
.feed-content .pinned {
  margin-left: 30px;
  font-size: 11px;
  grid-column: 2;
  grid-row: 1;
  color: var(--text-color2);
  font-weight: bolder;
}
.feed-content .pinned .material-symbols-outlined {
  font-size: 15px;
  font-variation-settings: "FILL" 1, "wght" 900, "GRAD" 0, "opsz" 24;
}
.feed-content .content-name {
  width: 100%;
  grid-column: 2;
  grid-template-columns: 10% 75px auto;
  grid-row: 1;
  display: grid;
  grid-template-areas: "photo h5 date";
}
@media (min-width: 480px) {
  .feed-content .content-name {
    grid-template-columns: 12% 75px auto;
  }
}
.feed-content .content-name h5 {
  margin-left: 10px;
  margin-top: 20px;
  grid-area: h5;
}
.feed-content .content-name .date {
  font-size: 13px;
  margin-top: 20px;
  color: var(--text-color2);
  grid-area: date;
}
.feed-content .content-name .content-photo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: aquamarine;
  margin-top: 20px;
  margin-left: -15px;
  overflow: hidden;
  border: 1px solid var(--background-color);
  grid-area: photo;
}
@media (min-width: 480px) {
  .feed-content .content-name .content-photo {
    margin-left: auto;
  }
}
.feed-content .content-name .content-photo img {
  width: 50px;
  height: 50px;
}
.feed-content .icons {
  width: 90%;
  color: var(--text-color2);
}
.feed-content .icons ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
}
.feed-content .icons li {
  padding: 5px 5px 5px 5px;
  margin-right: 15px;
  border: 1px none red;
  border-radius: 50%;
}
.feed-content .icons li .material-symbols-outlined {
  font-size: 1.2rem;
  vertical-align: middle;
  font-weight: lighter;
  text-align: center;
}
.feed-content .icons li:nth-child(1):hover {
  color: var(--main-color);
  transition: ease-in-out 0.2s;
  background: rgba(29, 161, 242, 0.2);
}
.feed-content .icons li:nth-child(2):hover {
  color: rgb(249, 24, 128);
  background: rgba(249, 24, 128, 0.2);
  transition: ease-in-out 0.2s;
}
.feed-content .content-main {
  grid-column: 2;
  grid-row: 2;
  margin-left: 4%;
  padding: 0 0 1% 10%;
  margin-top: 10px;
  margin-bottom: 10px;
  grid-row: 2;
  grid-column: 2;
}
.feed-content .content-main .tech-used img {
  border-radius: 10px;
  width: 15%;
}
@media (min-width: 0) {
  .feed-content .content-main .tech-used img {
    margin-left: 10px;
  }
}
@media (min-width: 480px) {
  .feed-content .content-main .tech-used img {
    margin-left: 0;
  }
}
.feed-content .content-main .text {
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  grid-row: 2;
  grid-column: 2;
}
.feed-content .content-main .text li {
  list-style-type: none;
}
.feed-content .content-main .text .contacts-img::before {
  content: " ";
  display: block;
  margin-top: 20px;
}
.feed-content .content-main .text .contacts-img img {
  width: 30px;
  margin-bottom: -10px;
}
.feed-content .content-main .content-img {
  width: 90%;
  height: auto;
  border-radius: 10px;
  margin: 3vh 0 0 0;
  overflow: hidden;
  display: inline-block;
}
.feed-content .content-main .content-img img {
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

a:visited {
  color: var(--secondary-color);
}

body {
  margin: 5% auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
}
@media (min-width: 550px) {
  body {
    width: 550px;
  }
}

.break {
  flex-basis: 100%;
  height: 0;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 0, "opsz" 24;
}

.underline-item {
  border-bottom: 3px solid #1DA1F2;
  left: 50%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --secondary-color:#192734;
    --terciary-color: #22303c;
    --quartenary-color:#8899ac;
    --background-color:#15202B;
    --hover-color: #192734;
    --text-color:white;
    --text-color2:#8899ac;
    --border-color: rgba(136, 153, 172, 0.1);
  }
}/*# sourceMappingURL=main.css.map */